# Ambiente Virtual
venv/
.env

# Python (Arquivos temporários de compilação)
**/__pycache__/
*.py[cod]

# Banco de Dados e Logs (Dados locais)
data/*.db
logs/*.log

# IDEs (VS Code / PyCharm)
.vscode/
.idea/

# Sistema Operacional
.DS_Store
thumbs.db